
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}


.mySwiper .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.5;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}
.hero-background {
  object-fit: cover;
  object-position: center;
}


@media (max-width: 640px) {
  .hero-background {
    object-position: calc(50% + 150px) center; 
  }
}
.service-background {
  object-fit: cover;
  object-position: center;
}


@media (max-width: 640px) {
  .service-background {
    object-position: 20% 10px;
  }
}

    @theme {
      --color-primary: #2FB66A;
      --color-secondary: #F6F6F6;
      --color-chocolate: #86563C; 

      --spacing-26: 26px;
      --spacing-60: 60px;
      --spacing-90: 90%;
      --spacing-125: 12.5%;
      --spacing-76: 76.2%;
    }

    @layer utilities {
      .h1-bold {
    @apply text-[56px] font-bold leading-tight;
  }

  .h1-regular {
    @apply text-[56px] font-normal leading-tight;
  }

  /* H2 */
  .h2-bold {
    @apply text-[32px] font-bold leading-snug;
  }

  .h2-regular {
    @apply text-[32px] font-normal leading-snug;
  }

  /* H3 */
  .h3-bold {
    @apply text-[22px] font-bold leading-snug;
  }

  .h3-regular {
    @apply text-[22px] font-normal leading-snug;
  }

  /* H4 */
  .h4-bold {
    @apply text-[20px] font-bold leading-snug;
  }

  .h4-regular {
    @apply text-[20px] font-normal leading-snug;
  }

  /* =========================
     BODY TEXT
     ========================= */

  .text-bold {
    @apply text-[16px] font-bold leading-normal;
  }

  .text-regular {
    @apply text-[16px] font-normal leading-normal;
  }

  /* =========================
     MOBILE
     ========================= */

  .text-mobile {
    @apply text-[14px] font-normal leading-normal;
  }
  .heading-responsive {
    @apply text-[56px] max-xl:text-[48px] max-md:text-4xl max-sm:text-[32px] font-bold leading-18 max-xl:leading-14 max-md:leading-12 max-sm:leading-10;
  }
  .padding-responsive {
    @apply mx-auto w-[63%] max-xl:w-[85%] max-md:w-90 max-sm:w-[92%];
  }
  
  .card-blog-description {
    @apply text-start mx-auto w-[63%] max-xl:w-[85%] max-md:w-90 max-sm:w-full max-sm:px-[4%] max-sm:bg-secondary max-sm:pt-2 max-sm:gap-4 max-sm:h-full;
  }
  .padding-image-responsive {
     @apply mx-auto w-[63%] max-xl:w-[85%] max-md:w-90 max-sm:w-full;
  }
}
